.header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    border-radius: 9px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/header.png);
    padding: 20px;

    @media(max-width: 768px){
        display: block;
    }

    &__link {
        display: flex;

        @media(max-width: 768px){
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        }
    }
    &__link__li {
        margin-right: 28px;

        @media(max-width: 768px){
        margin-top: 20px;
    }
    }
    &__link__li__a{
        color: #fff;
        text-decoration: none;
        border: 1px solid black;
        background-color: #00000080;
        padding: 10px 16px;
        border-radius: 10px;
        font-weight: 500;
        transition: all 0.4s ease;
        cursor: pointer;


    }
    &__link__li__a:hover{
    color: #000;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 2px 2px 2px rgba(124, 122, 122, 0.9);
    }

    &__titulo {
        margin-left: 29px;
        color: rgb(238, 255, 0);

        @media(max-width: 768px){
        text-align: center;
    }
    }
}
