@use './variaveis' as *;

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    @media(max-width: 768px) {
    display: block;
    }
    
    &__titulo{
        text-align: center;
        font-weight: bold;
        color: $corTextoPrincipal;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    &__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    }

    &__image {
        width: 500px;
        border-radius: 90px;
        margin-top: 20px;

    @media(max-width: 768px) {
    display: block;
    max-width: 100%;
    }
    }

    &__paragrafo{
    max-width: 450px;
    text-align: justify;
    color: $corTextoPrincipal;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 20px;
    }
}