@use './variaveis' as *;

.plans {
    padding: 5.6vh;

    h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media(max-width: 768px){
            display: block;
        }
    
    &__item {
        text-align: center;
        padding: 60px 44px 44px;
        max-width: 380px;
        width: 100%;

        img {
            width: 180px;
        }

        strong {
            display: block;
            color: $corTextoPrincipal;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        button {
            display: block;
            align-items: center;
            width: 100%;
            height: 60px;
            font-size: 18px;
            color: yellow;
            border: none;
            background-color: orange;
            text-transform: uppercase;
            border-radius: 6px;
            margin-top: 2vh;
            margin-bottom: 8px;
            cursor: pointer;
        }

        &:hover {
            background-color: $corTextoSecundario;
            border-radius: 10px;
            transition: height, .5s ease;

        &:hover button {
            background-color: yellow;
            color: orange;
        }
    }
}}}