@use './variaveis' as *;

.section {
    padding: 2vw 5.6vh;

    &__list {
        display: none;
        margin-top: 50px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media(max-width: 768px) {
            grid-template-columns: 1fr;
        }

        &--is-active {
            display: grid;
        }

        &__item {
            display: flex;
            padding: 5.6vh;
            margin: 0 auto;
        img {
            max-width: 300px;
            border-radius: 20px;
        }
    }
}

&__tabs{
    display: flex;
    justify-content: center;

    @media(max-width: 768px){
        display: block;
    }

    &__button{
        color: $corTextoSecundario;
        font-size: 20px;
        cursor: pointer;
        border: none;
        padding-bottom: 5px;
        background: none;
        text-transform: uppercase;
        margin: 0 1vw;
        border-bottom: 6px solid transparent;

        @media(max-width: 768px){
        display: block;
        margin-left: 150px;
        margin-top: 20px;
    }


        &--is-active {
            border-color: $corTextoSecundario;
        }
    }
}
}