@use './variaveis' as *;
@use 'header';
@use 'section';
@use 'plans';
@use 'hero';
@use 'available-devices';
@use 'faq';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: linear-gradient(180deg, rgba(255, 166, 0, 0.671), rgba(255, 255, 0, 0.527));
}


@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $corTextoPrincipal;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: $corTextoSecundario;
}

.text {
    @include text;
}

.text--big {
    @include text(18px);
}

.text--small {
    @include text(12px);
}

.title {
    @include title;
}

.title--big {
    @include title(44px);
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: $corTextoSecundario;
}